* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
}

header {
    height: 40px;
    padding: 20px 50px;
    background-color: #efefef;
    color: #919191;
}

section {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

div {
    float: left;
    margin: 5%;    
}
    div:hover {
        transform: rotate(360deg);
        transition: .6s;
    }

span {
    position: absolute;
    margin-top: 170px;
    margin-left: 60px;
    color: white;
}